# macOS
.DS_Store
**/.DS_Store

# HLS/Vivado 生成的中间产物
**/.autopilot/
**/csim/build/
**/hls/syn/
**/hls/impl/
*.jou
*.str
# Vitis HLS 工作目录（运行产物）
sobel/sobel_top/
vitis-comp.json
*.hlscompile_summary
*.hlsrun_csim_summary
*.hlsrun_package_summary
*.pb3
hls_data.json
config.cmdline
sobel_pynz2/*.srcs/
sobel_pynz2/*.hw/
sobel_pynz2/*.cache/
sobel_pynz2/*.runs/
sobel_pynz2/*.gen/
